

<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	
  <link rel="stylesheet" type="text/css" href="static/assets/css/ex.css">
  

    
    

</head>
<div>
  <header>
       
    <h1>TRAVELLING SHOTS</h1>
    <nav>
    <ul class="nav_links" >
        <li><a class="nav_links" scrollto active href="/Home">Home</a></li>
        <li><a class="nav_links" scrollto active href="/gallery">Gallery</a></li>
        <li><a class="nav_links" scrollto active href="/about">About</a></li>
       
        </ul>
        </nav>
        <a class="nav_links" scrollto active href="/contact"><button>contact</button></a>
</header>

<div class="fullimg" id="fullbox">
  <img src="static/assets/img/photos/gallery/img1.jpg" id="fullrimg">
  <span onclick="closeFullImg()" id="close">X</span>
  <a href="static/assets/img/photos/gallery/img1.jpg" download="img" id="download"><button>Download</button></a><br>
 <br> <button onclick="printImage();"   id="print">Print</button>
  
</div>
        <div id="bodyy">

  <div class="container">
    <div class="heading">
      <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box">
      
      <div class="dream">
        <img src="static/assets/img/photos/gallery/31.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/32.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/33.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/34.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/35.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/36.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/37.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/38.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/39.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/40.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/41.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/42.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/43.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/44.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/45.jpg" onclick="clickss(this.src)">
        
        
        

       
            
      </div>

        <div class="dream">
        <img src="static/assets/img/photos/gallery/img1.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img2.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/49.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/50.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/49.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img3.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img4.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img5.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img13.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img14.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/img15.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/51.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/52.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/54.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/55.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/56.jpg" onclick="clickss(this.src)">
        <img src="static/assets/img/photos/gallery/29.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/30.jpg" onclick="clickss(this.src)">
            
        
        
        
        
         
            
      </div>

        <div class="dream">
            <img src="static/assets/img/photos/gallery/img16.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/img17.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/img18.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/img20.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/img21.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/img22.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/23.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/24.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/25.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/26.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/26.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/28.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/47.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/48.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/50.jpg" onclick="clickss(this.src)">
            <img src="static/assets/img/photos/gallery/46.jpg" onclick="clickss(this.src)">
            

            
      </div>

      



    </div>
    





  </div>


  <footer>

    <div class="footer-content">
    
    
    
    <h3>Travelling Shots</h3>
    
   
    
    <p><address>
        <strong>Target company Inc</strong><br>
        <br>
        JC Main Road, Near Silnile tower<br>
         Pin-560040,Bangalore,India</address></p>
    
    
    
    <ul class="socials">
    
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    
    
    
    <li><a href="#"><i class="fa fa-youtube"></i></a></li> <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    
    </ul>
    
    </div>
    
   
    
    <div class="footer-bottom">
    
    <p>copyright &copy; 2020 travelling. designed by <span>abc</span></p>
    
    </div>
    
   
    
    </footer>
    </div>
    <script >
      var fullbox = document.getElementById("fullbox");
      var fullrimg = document.getElementById("fullrimg");
      var down = document.getElementById("download");
      var prints = document.getElementById("print");
      var closee = document.getElementById("close");
      var bodyy = document.getElementById("bodyy");
      

      function clickss(pic) {
          fullbox.style.display = "flex";
          fullrimg.src = pic;
          down.href=pic;
              }
      
      function closeFullImg() {
          fullbox.style.display = "none";
      }


      function printImage(){
          down.style.display = "none";
          prints.style.display = "none";
          closee.style.display = "none";
          bodyy.style.display = "none";
          
          window.print();
          down.style.display = "flex";
          prints.style.display = "flex";
          closee.style.display = "flex";
          bodyy.style.display = "";

          

      }
      </script>





</body>
</html>

